mixin immersiveImage(height, src_id)
	iframe.rounded.w-100(
		height=height
		frameborder='0'
		allow='xr-spatial-tracking; gyroscope; accelerometer'
		allowfullscreen
		scrolling='no'
		src='https://kuula.co/share/' + src_id +'?logo=1&info=1&fs=1&vr=0&sd=1&thumbs=1&inst=0'
	)

mixin mainLink(href, text)
	a.h5.text-white(href=href) #{text}

mixin certImage(src, alt, target, slide)
	img.w-100(
		src=src alt=alt data-bs-target=target data-bs-slide-to=slide
	)

html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65'
			crossorigin='anonymous'
		)
		title Ryan's IP

	body.bg-dark.text-white
		div.container-fluid

			hr

			div#row-header.row

				div.col-md-3.col-12
					+immersiveImage('256px', '5hcJV')
					p.text-center &lt; spin the kuulas! &gt;

				div.col-md-6.col-12
					div.row
						div.col
							h1 Ryan's IP
							br
							p.h5
								| ... IP Address
								br
								| ... Implemented Page
								br
								| ... Intellectual Property
								br
								| ... Homepage.
								br
								| ... It's my homepage.

						div.col
							img.w-100.rounded-circle(
								src='static/images/ears.jpg'
								alt='Ryan\'s ears are very large'
							)

						div.col.text-end
							h1 Ryan's Links
							br
							+mainLink('https://gitlab.com/epryan', 'gitlab')
							br
							+mainLink('https://github.com/epryan', 'github')
							br
							+mainLink('https://www.linkedin.com/in/epryan/', 'linkedin')
							br
							+mainLink('https://src.fedoraproject.org/user/rerickso', 'fedoraproject')
							br
							+mainLink('static/cv.pdf', 'resume/cv (pdf)')

				div.col-md-3.col-12
					+immersiveImage('256px', '5hcJD')
					p.text-center &lt; spin the kuulas! &gt;

			div#row-body.row

				div#col-left.col-md-3.col-12.order-md-1.order-2
					+immersiveImage('384px', '5hcJq')
					hr
					+immersiveImage('320px', 'N2vv7')
					hr
					+immersiveImage('384px', '5hcJX')
					hr
					+immersiveImage('320px', '5hcJM')
					hr
					+immersiveImage('384px', '5hcJH')

				div#col-main.col-md-6.col-12.order-md-2.order-1
					+immersiveImage('512px', 'collection/7FW40')
					hr
					div
						h2 Ryan Erickson
						h5 Engineer by day, Handyman most nights, Traveller on weekends.
						p.lead
							| Ryan is a husband, dog dad, father-to-be, traveller, and engineer who loves 
							| exploring North America with his beautiful wife Andrea.
							| He enjoys long walks in the dog park with his Golden Retriver Gary and Lab Mix Oliver.
							br
							br
							| Thanks, in part, to calling Seattle home base since birth, he finds himself addicted 
							| to technical projects of heavy complexity, massive scale, and microscopic details.
							| In military parlance, his arsenel includes over six years of software development, 
							| network operations, and server deployment experience in small businesses, enterpises, 
							| and major service providers.
							| As such, he claims expertise in at least Software Engineering, DevOps, the Python 
							| language, linux and multi-vendor networking.
						p.lead
							| Want to talk tech or travel? 
							a.text-white(
								href='mailto:ryan@ryansip.com?subject=Howdy!'
							) ryan@ryansip.com

					hr

					div#row-certs.row(data-bs-toggle='modal' data-bs-target='#imageModal')
						div.col-4
							+certImage('static/images/rhcsa.jpg', 'RHCSA Certification', '#imageCarousel', '0')
						div.col-4
							+certImage('static/images/ccna.jpg', 'CCNA Certification', '#imageCarousel', '1')
						div.col-4
							+certImage('static/images/bs.jpg', 'B.S. in C.S. from WWU', '#imageCarousel', '2')

					div#imageModal.modal.fade(tabindex='-1' aria-labelledby='Certifications' aria-hidden='true')
						div.modal-dialog.modal-xl
							div.modal-content
								div.modal-header
									button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
								div.modal-body
									div#imageCarousel.carousel.slide(data-bs-ride='carousel')
										div.carousel-indicators
											button.active(type='button' data-bs-target='#imageCarousel' data-bs-slide-to='0' aria-current='true' aria-label='RHCSA')
											button(type='button' data-bs-target='#imageCarousel' data-bs-slide-to='1' aria-current='true' aria-label='CCNA')
											button(type='button' data-bs-target='#imageCarousel' data-bs-slide-to='2' aria-current='true' aria-label='B.S. in C.S. from WWU')
										div.carousel-inner
											div.carousel-item.active
												img.d-block.w-100(src="static/images/rhcsa.jpg" alt='RHCSA Certification')
											div.carousel-item
												img.d-block.w-100(src="static/images/ccna.jpg" alt='CCNA Certification')
											div.carousel-item
												img.d-block.w-100(src="static/images/bs.jpg" alt='B.S. in C.S. from WWU')
										button.carousel-control-prev(type='button' data-bs-target='#imageCarousel' data-bs-slide='prev')
											span.carousel-control-prev-icon(aria-hidden='true')
											span.visually-hidden Previous
										button.carousel-control-next(type='button' data-bs-target='#imageCarousel' data-bs-slide='next')
											span.carousel-control-next-icon(aria-hidden='true')
											span.visually-hidden Next

					div#resume
						embed.w-100(
							height='740px'
							type='application/pdf'
							src='static/cv.pdf#toolbar=0&navpanes=0&scrollbar=0'
						)
				
				div#col-right.col-md-3.col-12.order-3
					+immersiveImage('384px', '5hcJY')
					hr
					+immersiveImage('320px', '5hcJT')
					hr
					+immersiveImage('384px', '5hhlM')
					hr
					+immersiveImage('320px', '5hcJK')
					hr
					+immersiveImage('384px', '5hcJJ')

		script(
			src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js'
			integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3'
			crossorigin='anonymous'
		)
		script(
			src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'
			integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4'
			crossorigin='anonymous'
		)
